body {
    background-color: #232428;
    font-family: 'Odibee Sans', cursive;
}

p {
    text-align: center;
    color: lightcoral;
    font-size: 28px;
    text-shadow: black 1px 1px;
}

.nav-item a:hover {
    color: aqua;
}

#navmenu {
    font-size: 18px;
}

#navmenu a:hover {
    color: aqua;
}
